<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <add key="aspnet" value="https://www.myget.org/F/aspnetvnext" />
    <add key="dotnet" value="https://www.myget.org/F/dotnet-corefx" />
    <add key="nuget" value="https://nuget.org/api/v2" />
    <add key="dnx" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json">
  </packageSources>
</configuration>